@use "variables" as *;

// at-root позволяет определять и работать с file-scoped variables
@at-root {
  // /* color helpers */
  $colors: "white", "black", "brand0", "brand1", "brand2", "brand3", "gray1",
    "gray2", "gray3", "gray4", "gray5", "green", "red", "red2", "yellow", "blue",
    "none";

  @each $color in $colors {
    .border-#{$color} {
      border: 1px solid color($color);
    }
    .border-color-#{$color} {
      border-color: color($color);
    }
    .color-#{$color} {
      color: color($color);
    }
    .bg-#{$color} {
      background: color($color);
    }
  }

  /* endof color helpers */
}
