@use "variables" as *;

@at-root {
  //* Раскомментить если нужно кастомизировать скроллбар
  // /* width */
  // ::-webkit-scrollbar {
  //   width: 15px;
  //   height: 15px;
  // }

  // /* Track */
  // ::-webkit-scrollbar-track {
  //   background: color("gray3");
  // }

  // /* Handle */
  // ::-webkit-scrollbar-thumb {
  //   background: gray;
  //   border-radius: 10px;
  // }

  // // /* Handle on hover */
  // ::-webkit-scrollbar-thumb:hover {
  //   background: color("gray2");
  // }

  * {
    transition: all 0.2s ease-out;
    scroll-behavior: smooth;
  }

  body {
    // transition: none;
    font-family: var(--font-roboto), serif;
    font-size: 13px;
    line-height: 1.2;
    padding-left: 30px;
    &.sidebar-open {
      // overflow-y: hidden;
      padding-left: 280px;
    }
    &.ReactModal__Body--open {
      // overflow-y: hidden;
      // padding-right: 15px;
    }
  }

  body {
    // max-width: 1080px;
  }

  /* .btn:hover {
  box-shadow: 0 8px 10px rgb(0 0 0 / 20%);
} */

  b {
    font-weight: 700;
    color: color("green");
  }

  ul {
    list-style-type: none;
  }

  input {
    outline: none;
  }

  label {
    margin-bottom: 0;
  }

  .embed {
    height: 100%;
  }

  .hover-pointer:hover {
    cursor: pointer;
  }

  [disabled] {
    pointer-events: none;
    opacity: 0.65 !important;
  }

  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 0px;
    height: 0px;
    margin: 0px;
  }

  .breadcrumb-item {
    color: color("dark");
    font-weight: 700;
    text-transform: uppercase;
  }

  .breadcrumb-item.active,
  .breadcrumb-item:hover {
    color: color("brand");
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: "";
  }

  .breakcrumb-item-divider {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -2px;
  }

  .effect-1,
  .effect-2,
  .effect-3 {
    overflow: hidden;
  }
}
